@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';



@layer base {
  /* estilos globais reset, se precisar */
}

@layer components {
  .card-info {
    @apply flex min-w-28 justify-center text-center p-3 leading-tight flex-col text-xs gap-2 border border-gray-200 rounded-md text-black
  }

  .card-default {
    @apply flex w-full h-32  items-center p-5 leading-tight border border-gray-200 rounded-md text-black font-semibold
  }

  .card-base {
    @apply flex text-left p-4 leading-tight flex-col text-sm gap-2 rounded-md text-white  bg-gray-800 font-semibold
  }

  .btn-services {
    @apply flex text-[#505561] text-sm px-4 py-2 border border-gray-700 rounded-full cursor-pointer h-fit
  }

  .card-popular {
    @apply p-3 rounded-md border-[0.25px] border-gray-200 bg-white w-full lg:w-fit flex gap-4 items-center
  }

}

@layer utilities {
  /* aqui entram utilitários extras */
}


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Ocultar scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE e Edge antigo */
  scrollbar-width: none;
  /* Firefox */
}


.beautifull-shadow { 
  box-shadow: 0 4px 12px 0 rgba(55, 64, 81, 0.08);
}